<div class="auth-layout-wrap ">
    <div class="auth-content">
        <div class="card o-hidden sigin-card-bg">
            <div class="row">
                <div class="col-md-6 login-bg-image d-none d-sm-block">


                    <div class="pl-3 pr-3 pb-2 mt-3 ">
                        <h2 class="font-weight-bold">Welcome to BHARGO</h2>
                    </div>
                    <div class="mt-2">

                        <ul class="list-unstyled login-products-list">
                            <li>
                                <i>
                                                  <img src="../assets/images/connect.png" /></i>
                                <span>BHARGO CONNECT</span></li>
                            <li>
                                <i>
                                                  <img src="../assets/images/create.png" /></i>
                                <span>BHARGO CREATE</span></li>
                            <li>
                                <i>
                                                  <img src="../assets/images/improve.png" /></i>
                                <span>BHARGO IMPROVE</span></li>
                            <li>
                                <i>
                                                  <img src="../assets/images/progress.png" /></i>
                                <span>BHARGO PROGRESS</span></li>

                        </ul>


                    </div>






                </div>

                <div class="col-md-6">
                    <div class="p-4">
                        <div class="auth-logo text-center mb-4">

                            <img src="../assets/images/login-logo.png" alt="BHARGO LOGO">
                        </div>
                        <h1 class="mb-3 text-18">Sign In</h1>
                        <form>
                            <div class="form-group">
                                <label for="phone">Phone No.</label>
                                <input id="email" class="form-control form-control-rounded signin-form-ctrl-bg" type="phone">
                            </div>


                            <!--   <div class="form-group">
                                              <label for="org">Organization</label>
                                              <select id="org" class="form-control form-control-rounded signin-form-ctrl-bg">
                                                  <option>org 1</option>
                                                  <option>org 2</option>
                                              </select>

                                          </div>-->

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" class="form-control form-control-rounded signin-form-ctrl-bg" type="password">
                            </div>
                            <div class="text-right">


                                <button class="btn btn-rounded btn-signIn  mt-2 pl-3 pr-3">Sign In</button>
                                <!--     <a href="" class="text-muted float-right mt-3"><u>Forgot Password?</u></a>-->
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
