<div class="auth-layout-wrap ">
    <div class="auth-content">
        <div class="card o-hidden sigin-card-bg">
            <form class="row" #orgRegister="ngForm" (ngSubmit)="regOrgSubmit(orgRegister)">
                <div class="col-md-12  text-center">
                    <div class="pl-3 pr-3 pb-2 pt-3 " style="background-image: url(assets/images/bg-login.png);">
                        <h2 class="font-weight-bold">Organization Creation</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-4">
                        <div class="form-group">
                            <label for="OrganizationName">Organization Name *</label>
                            <input id="OrganizationName" name="OrganizationName" [(ngModel)]="regOrgDetails.Org_Name" #OrganizationName="ngModel"
                                
                                class="form-control form-control-rounded signin-form-ctrl-bg" type="text" required>
                            <div *ngIf="OrganizationName.invalid && (OrganizationName.dirty || OrganizationName.touched)"
                                class="pt-1">
                                <p class="orgRegValidation">Org name is required. </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="OrganizationIndustry">Organization Industry *</label>
                            <input id="OrganizationIndustry" name="OrganizationIndustry" #OrganizationIndustry="ngModel"
                               [(ngModel)]="regOrgDetails.Org_Type"
                                class="form-control form-control-rounded signin-form-ctrl-bg" type="text" required>

                            <div *ngIf="OrganizationIndustry.invalid && (OrganizationIndustry.dirty || OrganizationIndustry.touched)"
                                class="pt-1">
                                <p class="orgRegValidation">Organization Industry is required. </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PrimaryPersonName">Primary Person Name *</label>
                            <input id="PrimaryPersonName" name="PrimaryPersonName" #PrimaryPersonName="ngModel"
                            [(ngModel)]="regOrgDetails.Primary_Person_Name"
                                class="form-control form-control-rounded signin-form-ctrl-bg" type="text" required>

                            <div *ngIf="PrimaryPersonName.invalid &&(PrimaryPersonName.dirty || PrimaryPersonName.touched)"
                                class="pt-1">
                                <p class="orgRegValidation">Primary Person Name is required. </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="NoOfEmployees">No of Employees *</label>
                            <select id="NoOfEmployees" [(ngModel)]="regOrgDetails.No_of_Employees" name="NoOfEmployees"
                                class="form-control form-control-rounded signin-form-ctrl-bg">
                                <option value="1">1-10</option>
                                <option value="2">11-50</option>
                                <option value="3">51-100</option>
                                <option value="4">101-500</option>
                                <option value="5">501-1000</option>
                                <option value="6">Above 1000</option>
                            </select>

                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="p-4">

                        <div class="form-group">
                            <label for="Email">E-mail *</label>
                            <input id="Email" name="Email"[(ngModel)]="regOrgDetails.Email" #Email="ngModel"
                                class="form-control form-control-rounded signin-form-ctrl-bg" type="text" required>

                            <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="pt-1">
                                <p class="orgRegValidation">Email is required. </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="MobileNumber">Mobile Number.*</label>
                            <label class="pull-right UserVerif">User Verification </label>
                            <input id="MobileNumber" name="MobileNumber" [(ngModel)]="regOrgDetails.Mobile_Number"
                                #MobileNumber="ngModel" class="form-control form-control-rounded signin-form-ctrl-bg"
                                type="text" required>
                            <div *ngIf="MobileNumber.invalid && (MobileNumber.dirty || MobileNumber.touched)"
                                class="pt-1">
                                <p class="orgRegValidation">Mobile Number is required. </p>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="MobileNumber">Enter OTP*</label>
                            <label class="pull-right"></label>
                            <input id="otp" name="otp" ngModel #otp="ngModel"
                                class="form-control form-control-rounded signin-form-ctrl-bg" type="text" required>

                            <div *ngIf="otp.invalid && (otp.dirty || otp.touched)" class="pt-1">
                                <p class="orgRegValidation">Enter OTP. </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Fax">Fax.</label>
                            <input id="Fax" name="Fax" [(ngModel)]="regOrgDetails.Fax" #fax="ngModel"
                                class="form-control form-control-rounded signin-form-ctrl-bg" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-right">
                    <div class="pr-4">
                        <div class="form-group">
                            <input type="submit" id="btnLogin" class="btn btn-rounded btn-signIn  mt-2 pl-3 pr-3"
                                value="Submit"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>