<div class="auth-layout-wrap ">
    <div class="auth-content">
        <div class="card o-hidden sigin-card-bg">
            <div class="row">
                <div class="col-md-12  text-center">
                    <div class="pl-3 pr-3 pb-2 pt-3 " style="background-image: url(assets/images/bg-login.png);">
                        <h2 class="font-weight-bold">Organization Creation</h2>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="p-4">
                        <div class="form-group">
                            <label for="OrganizationName">Organization Name *</label>
                            <input id="OrganizationName" class="form-control form-control-rounded signin-form-ctrl-bg" type="text">
                        </div>
                        <div class="form-group">
                            <label for="OrganizationIndustry">Organization Industry *</label>
                            <input id="OrganizationIndustry" class="form-control form-control-rounded signin-form-ctrl-bg" type="text">
                        </div>
                        <div class="form-group">
                            <label for="PrimaryPersonName">Primary Person Name *</label>
                            <input id="PrimaryPersonName" class="form-control form-control-rounded signin-form-ctrl-bg" type="text">
                        </div>

                        <div class="form-group">
                            <label for="NoOfEmployees">No of Employees *</label>
                            <select id="NoOfEmployees" class="form-control form-control-rounded signin-form-ctrl-bg">
                              <option value="1">1-10</option>
                              <option value="2">11-50</option>
                              <option value="3">51-100</option>
                              <option value="4">101-500</option>
                              <option value="5">501-1000</option>
                              <option value="6">Above 1000</option>
                          </select>

                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="p-4">

                        <div class="form-group">
                            <label for="Email">E-mail *</label>
                            <input id="Email" class="form-control form-control-rounded signin-form-ctrl-bg" type="text">
                        </div>

                        <div class="form-group">
                            <label for="MobileNumber">Mobile Number.</label>
                            <label class="pull-right UserVerif">User Verification </label>
                            <input id="MobileNumber" class="form-control form-control-rounded signin-form-ctrl-bg" type="text">
                        </div>

                        <div class="form-group">
                            <label for="MobileNumber">Enter OTP</label>
                            <label class="pull-right"></label>
                            <input id="Text1" class="form-control form-control-rounded signin-form-ctrl-bg" type="text">
                        </div>

                        <div class="form-group">
                            <label for="Fax">Fax.</label>
                            <input id="Fax" class="form-control form-control-rounded signin-form-ctrl-bg" type="text">
                        </div>




                    </div>
                </div>

                <div class="col-md-12 text-right">
                    <div class="pr-4">

                        <div class="form-group">

                            <input type="button" id="btnLogin" class="btn btn-rounded btn-signIn  mt-2 pl-3 pr-3" value="Submit" />
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
