<!-- intro-section -->

<section id="intro-wrap" class="intro1Wrap text-left text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <!--  <ul class="list-inline">
                                    <li class="mb-3"><i class="eva  mr-2 text-warning"></i> <p class="text-20 mb-4">One Platform for all of your Digital Requirements</p>
                                    </li>
                       </ul>
                  -->
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 intro1LeftSection mr_5">

                <!-- <p class="text-20 mb-4">Enterprise Resource Optimizer</p> -->
                <div class="mb-5">
                    <!--   <ul class="list-inline">
                                    <li class="mb-3"><i class="eva  mr-2 text-warning"></i> <p class="text-15 mb-4">One Platform for all of your Digital Requirements Starting from Enterprise Communication to Comprehensive Business Process Automations</p>
                                    </li>

                                </ul> -->
                    <div class="row">
                        <div class="col-md-12 section-header mb-5">
                            <!--            <h2 class="font-weight-bold"> BHARGO Products</h2> -->
                            <p style="text-align: right; font-size: 18px; font-weight: bold;"><span style="color: #fc7203;">One</span> Platform to Communicate, Manage and Optimize your
                                <br /> Resources & Works</p>

                        </div>
                    </div>

                    <div class="intro1ProductImage text-center">
                        <img src="assets/images/create/ornagram.png" class="img-responsive" alt="" style="width: 100%;">
                    </div>
                </div>


            </div>
            <div class="col-md-6 intro1RightSection align-items-center">

                <div class="intro1ProductImage text-center mr_5">
                    <div class="col-md-12 section-header mb-5">
                        <!--            <h2 class="font-weight-bold"> BHARGO Products</h2> -->
                        <p class="p1" style="text-align: right; font-size: 18px; font-weight: bold;">
                            Create Applications Instantly with
                            <br />
                            <span style="color: #fc7203;">No Code</span>
                        </p>

                    </div>
                    <!--  <img src="http://demos.ui-lib.com/dexam-angular-html/assets/images/landing/svg/v1-header.svg" class="img-responsive" alt="" style="width: 80%;"> -->
                    <img src="../assets/images/img-1.png" class="img-responsive" alt="" style="width: 100%;">
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="intro1Buttons">
                    <p class="text-20" style="list-style-type: none;">
                        " Success is a Consequence with right decisions "
                    </p>
                    <a name="" id="" href="#" class="btn half-button btn-outline-white btn-lg pl-5 pr-5 pb-2 mr-2 mb-4 text-uppercase" href="#" role="button">Start Bhargo
                                </a>

                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
    </div>

</section>
<!-- end::intro-section -->
<!-- best -->
<section class="best-wrap p-t-b-80 light-gray" id="features-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">BHARGO PRODUCTS</h2>

            </div>

            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva">
                                            <img src="../assets/images/connect.png"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold" style="color: #ff7405;">BHARGO CONNECT</h4>
                            <p class="card-text">Enterprise Level Text, Image, Video messenging tool based on Organogram</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva">
                                            <img src="../assets/images/create.png"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold" style="color: #45a5db;">BHARGO CREATE</h4>
                            <p class="card-text">Create Applications and Solutions instantly with no code </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 mb-4 mb-lg-0 mb-md-0">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva">
                                            <img src="../assets/images/improve.png"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold" style="color: #38844f;">BHARGO IMPROVE</h4>
                            <p class="card-text" style="padding-bottom: 4%;">Digital Learning tools to increase skills of internal and external teams<br />
                            </p>

                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 mb-lg-0 mb-md-0">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva">
                                            <img src="../assets/images/progress.png"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold" style="color: #829236">BHARGO PROGRESS</h4>
                            <p class="card-text" style="padding-bottom: 4%;">Track the progress of works / tasks remotly with evidence like Geo-Tagged Images and Videos<br />
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>


<!-- start-services -->
<section id="services-wrap" class="services-wrap light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">BHARGO CREATE</h2>
                <p>Build Application and solutions in Minutes with no code</p>

            </div>


            <!-- /* new data -->
            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/datacollection.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">Data Collection Applications</span>

                        </div>

                    </div>
                </div>
            </div>


            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/workflowapplications.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">Work Flow Applications</span>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/dataanalytics.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">Data Analytics</span>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/iot.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">IoT Applications</span>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/gisapplications.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">GIS Applications</span>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/ml.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">Machine Learning</span>

                        </div>

                    </div>
                </div>
            </div>



            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/businessprosessmanagement.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">Business Process Automation</span>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/locationbasedinfo.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">Location Based Applications</span>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/integrations.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">Integrations</span>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/paymentgateway.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">Payment Gateway Applications</span>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/dashboards.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">Dashboards</span>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">

                                <img src="../assets/images/create/externaldevices.png" class="img_width" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-39 float-right">External Devices</span>

                        </div>

                    </div>
                </div>
            </div>









        </div>

    </div>

</section>
<!-- end-services -->


<!-- start::left-img -->
<section class="left-image-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">BHARGO - APPLICATION DEVELOPMENT &amp; DEPLOYMENT</h2>


            </div>
            <div class="col-md-4 col-sm-12 align-items-center mb-5">
                <div class="right-contact-wrap text-center">
                    <p class="headding">APPLICATION DEVELOPMENT ON CLOUD</p>

                    <img src="../assets/images/development/developincloud.png" class="img-responsive " alt="Image">
                </div>


            </div>
            <div class="col-md-4 col-sm-12 align-items-center mb-5">
                <div class="right-contact-wrap ml-5">
                    <p class="headding text-center">APPLICATION DEPLOYMENT</p>
                    <img src="../assets/images/development/deployment.png" class="img-responsive " alt="Image">
                </div>


            </div>
            <!--    <div class="col-md-4 col-sm-12 align-items-center ">
                            <div class="right-contact-wrap ml-5">
                                <div class="row">
                                    <div class="col-md-12">
                                <img data-aos="" src="../assets/images/development/oncloud.png" class="img-responsive zoom-fade aos-init aos-animate" alt="Image" style="width:31%;float: left;">
                                  <p class="headding" style="padding-top: 30px;">On Cloud</p>
                              </div>

                                 <div class="col-md-12">
                                <img data-aos="" src="../assets/images/development/onprimices.png" class="img-responsive zoom-fade aos-init aos-animate" alt="Image" style="width:23%;float: left;">
                                  <p class="headding" style="padding-top: 30px;">On Primises</p>
                              </div>
                          </div>
                           <p class="headding">APPLICATION DEPOYMENT</p>



                            </div>
                        </div> -->
            <div class="col-md-4 col-sm-12 align-items-center">
                <div class="right-contact-wrap ml-5">

                    <p class="headding text-center">CLIENT APPLICATIONS</p>


                    <img data-aos="" src="../assets/images/development/dev.png" class="img-responsive zoom-fade aos-init aos-animate" alt="Image">
                </div>
            </div>




            <!-- end of col6 row -->
        </div>
    </div>
</section>
<!-- end::left-img -->

<section id="contacts-wrap" class="contact-form-wrap light-gray p-t-b-80">
    <div class="container">
        <div class="row">



            <div class="form-wrap col-md-6 mb-4 aos-init aos-animate">
                <div class="section-header mb-5">
                    <h2 class="font-weight-bold">Get in Touch With Us !</h2>
                    <!--  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero</p>
-->
                </div>



                <form class="row form" role="form">
                    <div class="form-group mb-4 col-md-6">
                        <label for="">
                                        <i class="eva eva-person-outline"></i>
                                    </label>
                        <input type="text" name="Name" id="" class="form-control" placeholder="Your Name" required="">
                    </div>
                    <div class="form-group mb-4 col-md-6">
                        <label for="">
                                        <i class="eva eva-email-outline"></i>
                                    </label>
                        <input type="email" required="" name="email" class="form-control" placeholder="Your email" aria-describedby="helpId">
                    </div>
                    <div class="form-group mb-4 col-md-12">
                        <label for="">
                                        <i class="eva eva-edit-2-outline"></i>
                                    </label>
                        <input type="text" required="" name="subject" class="form-control" placeholder="Your subject here" aria-describedby="helpId">
                    </div>

                    <div class="form-group mb-4 col-md-12">

                        <label for="">
                                        <i class="eva eva-edit-outline"></i>
                                    </label>
                        <textarea class="form-control" placeholder="Your message here" required="" name="message" rows="5"></textarea>


                    </div>

                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-block half-button form-submit-button btn-large btn-gradient">
                                        Send
                                            message
                                    </button>

                    </div>



                </form>



            </div>
            <div class="col-md-6 align-items-center">
                <div class="right-contact-wrap ml-5">

                    <img src="http://demos.ui-lib.com/dexam-angular-html/assets/images/landing/svg/contact2.svg" class="img-responsive zoom-fade aos-init aos-animate" alt="Image">

                    <!-- <div class="address-wrap mb-4">-->


                </div>
            </div>
        </div>
    </div>
</section>

<!-- start::price-1 -->
<!--     <section id="works-wrap" class="pricing-one-wrap p-t-b-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 section-header mb-5">
                            <h2 class="font-weight-bold">Choose a Plan</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-4 pricing-single-wrap">
                            <div class="card o-hidden">
                                <div class="card-header text-center p-3 mb-2">
                                    <h3 class="card-title font-weight-bold mb-2 text-uppercase">Developer</h3>
                                    <p class="text-uppercase mb-0">Basic</p>
                                </div>
                                <div class="card-body pt-0 text-center">

                                    <p class="card-text mb-2">
                                        <span class="money text-shadow text-45 font-weight-bold"><sup class="text-30 font-weight-normal">$</sup>9</span>.00
                                        <span>/Month</span>
                                    </p>
                                    <div class="offer-lists mb-4">

                                        <ul class="list-group list-group-flush">

                                            <li class="list-group-item p-1">1 Users access</li>
                                            <li class="list-group-item p-1">10 GB of Bandwidth</li>
                                            <li class="list-group-item p-1 text-muted">Unlimited secure storage
                                            </li>

                                            <li class="list-group-item p-1 text-muted">24/7 phone support</li>
                                            <li class="list-group-item p-1 text-muted">Analytics</li>
                                            <li class="list-group-item p-1 text-muted">Advanced branding</li>
                                        </ul>

                                    </div>

                                    <a href="#" class="btn btn-gradient half-button pl-5 pr-5 pt-2 pb-2">Select</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-4 pricing-single-wrap">
                            <div class="card o-hidden">
                                <div class="card-header text-center p-3 mb-2 bg-gradient text-white">
                                    <h3 class="card-title text-white font-weight-bold mb-2 text-uppercase">
                                        starter
                                    </h3>
                                    <p class="text-uppercase mb-0">Basic</p>
                                </div>
                                <div class="card-body pt-0 text-center">

                                    <p class="card-text mb-2">
                                        <span class="money text-shadow text-45 font-weight-bold"><sup class="text-30 font-weight-normal">$</sup>20</span>.00
                                        <span>/Month</span>
                                    </p>
                                    <div class="offer-lists mb-4">

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item p-1">5 Users access</li>
                                            <li class="list-group-item p-1">20 GB of Bandwidth</li>
                                            <li class="list-group-item p-1">Unlimited secure storage</li>

                                            <li class="list-group-item p-1 text-muted">24/7 phone support</li>
                                            <li class="list-group-item p-1 text-muted">Analytics</li>
                                            <li class="list-group-item p-1 text-muted">Advanced branding</li>
                                        </ul>

                                    </div>

                                    <a href="#" class="btn btn-gradient half-button pl-5 pr-5 pt-2 pb-2">Select</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0 mb-4 pricing-single-wrap">
                            <div class="card o-hidden">
                                <div class="card-header text-center p-3 mb-2">
                                    <h3 class="card-title font-weight-bold mb-2 text-uppercase">business</h3>
                                    <p class="text-uppercase mb-0">Basic</p>
                                </div>
                                <div class="card-body pt-0 text-center">

                                    <p class="card-text mb-2">
                                        <span class="money text-shadow text-45 font-weight-bold"><sup class="text-30 font-weight-normal">$</sup>60</span>.00
                                        <span>/Month</span>
                                    </p>
                                    <div class="offer-lists mb-4">

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item p-1">10 Users access</li>
                                            <li class="list-group-item p-1">40 GB of Bandwidth</li>
                                            <li class="list-group-item p-1">Unlimited secure storage</li>

                                            <li class="list-group-item p-1">24/7 phone support</li>
                                            <li class="list-group-item p-1 text-muted">Analytics</li>
                                            <li class="list-group-item p-1 text-muted">Advanced branding</li>
                                        </ul>

                                    </div>

                                    <a href="#" class="btn btn-gradient half-button pl-5 pr-5 pt-2 pb-2">Select</a>
                                </div>
                            </div>
                        </div>

                        <div  class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0 pricing-single-wrap">
                            <div class="card o-hidden">
                                <div class="card-header text-center p-3 mb-2">
                                    <h3 class="card-title font-weight-bold mb-2 text-uppercase">enterprise</h3>
                                    <p class="text-uppercase mb-0">Basic</p>
                                </div>
                                <div class="card-body pt-0 text-center">

                                    <p class="card-text mb-2">
                                        <span class="money text-shadow text-45 font-weight-bold"><sup class="text-30 font-weight-normal">$</sup>100</span>.00
                                        <span>/Month</span>
                                    </p>
                                    <div class="offer-lists mb-4">

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item p-1">20 Users access</li>
                                            <li class="list-group-item p-1"> Unlimited Bandwidth</li>
                                            <li class="list-group-item p-1">Unlimited secure storage</li>

                                            <li class="list-group-item p-1">24/7 phone support</li>
                                            <li class="list-group-item p-1">Analytics</li>
                                            <li class="list-group-item p-1">Advanced branding</li>
                                        </ul>

                                    </div>

                                    <a href="#" class="btn btn-gradient half-button pl-5 pr-5 pt-2 pb-2">Select</a>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </section>

-->


<!-- Footer Start -->
<div class="flex-grow-1"></div>


<section class="footer_wrap" id="footer-wrap" style="padding: 40px 0px 0px 0px!important;">
    <div class="container">
        <div class="row">


            <!--    <div class="col-md-3 mb-4">
                            <div class="o-hidden text-left">



                                <div class="">
                                    <h4 class="card-title font-weight-bold">Dexam</h4>
                                    <p class="">Dexam is highly customizable Angular 8 + bootstrap 4 landing Page. Dexam is built with official @angular/cli tool and uses NG Bootstrap . </p>
                                </div>


                            </div>
                        </div>
                      -->
            <div class="col-md-3 mb-4">
                <div class="o-hidden text-left">



                    <div class="">
                        <h4 class="card-title font-weight-bold clr_white">Products</h4>
                        <div class="mb-5 lead">
                            <ul class="list-inline">
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Connect</a></li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Create</a>
                                </li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Improve</a>
                                </li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Progress</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="o-hidden text-left">



                    <div class="">
                        <!-- <h4 class="card-title font-weight-bold clr_white">Other Pages</h4> -->
                        <div class="mb-5 lead">
                            <ul class="list-inline">
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Data Collection Applications</a></li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Work Flow Applications</a>
                                </li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Data Analytics</a>
                                </li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>GIS Applications</a>
                                </li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Machine Learning</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="o-hidden text-left">



                    <div class="">
                        <!--  <h4 class="card-title font-weight-bold clr_white">Other Pages</h4> -->
                        <div class="mb-5 lead">
                            <ul class="list-inline">
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Business Process Automation</a></li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Location Based Applications</a>
                                </li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Integrations</a>
                                </li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Payment Gateway Applications</a>
                                </li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>Dashboards</a>
                                </li>
                                <li class="mb-3"><a><i class="fa fa-check" aria-hidden="true"></i>External Devices</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>


            <!-- end of col -->
            <div class="col-md-3 mb-lg-0 mb-md-0">
                <div class="o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold  clr_white">Contact Info</h4>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-pin-outline mr-2"></i>BHARGO Innovations</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>sales@bhargo.org
                                </li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>support@bhargo.org
                                </li>

                            </ul>
                        </div>

                        <!--  <div class="address-wrap mb-3">

                                        <ul class="list-group list-unstyled">
                                            <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +0000 00 00 00
                                            </li>

                                        </ul>
                                    </div> -->


                        <section class="social-wrap">

                            <div class="social-btns-wrap">

                                <a class="social-btn text-30 facebook ml-0" href="#"><i class="eva eva-facebook"></i></a>

                                <a class="social-btn text-30 twitter" href="#"><i class="eva eva-twitter"></i></a>

                                <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p style="padding-left: 15px;">2019 © All Rights Reserved by BHARGO Innovations Pvt.Ltd</p>

        </div>
        <div class="col-md-6" style="text-align: right;">
            <p style="padding-right: 15px;">www.bhargo.org</p>
        </div>
    </div>
</section>
<!-- end footer -->
