/* You can add global styles to this file, and also import other style files */

/* validation text org registration  */

.orgRegValidation{
    font-size: 10px;
    color: #FF5722;
    text-align: right;

}
