<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BHARGO Login</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />
    <link rel="stylesheet" href="../assets/styles/vendor/slick.css">
    <link rel="stylesheet" href="../assets/styles/vendor/slick-theme.css">
    <link rel="stylesheet" href="../assets/styles/vendor/aos.css">
    <link rel="stylesheet" href="../assets/styles/vendor/perfect-scrollbar.css">
    <link rel="stylesheet" href="../assets/styles/css/themes/bhargo.css">
    <link rel="stylesheet" href="../assets/styles/css/custom.css">
</head>

<body class="text-left">
    <!-- Pre Loader Strat  -->
    <div class="loadscreen" id="preloader">
        <div class="loader spinner-bubble spinner-bubble-primary">
        </div>
    </div>
    <!-- Pre Loader end  -->
    <div class="app-landing-wrap landing_wrap">
        <div id="landing_wrap" class="landing-indigo">
            <!--=============== Header start ================-->
            <div class="main-header header-fixed-default" id="home-header">
                <nav class="navbar container w-100 navbar-expand-lg navbar-transparent bg-transparent">
                    <div class="logo">
                        <img src="../assets/images/logo_white.png" alt="">
                    </div>

                    <div class="menu-toggle navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                        <div style="margin: auto"></div>

                        <div class="header-part-right">

                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="scroll-to nav-link m-2" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="scroll-to nav-link m-2" href="#features-wrap">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="scroll-to nav-link m-2" href="#services-wrap">Create</a>
                                </li>

                                <!--   <li class="nav-item">
                                    <a class="scroll-to nav-link m-2" href="#works-wrap">Choose Plan</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="scroll-to nav-link m-2" href="#contacts-wrap">Get in Touch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="scroll-to nav-link m-2 pl-3 pr-3 signin-signup" href="#pricing-wrap">Sign Up / Sign In</a>
                                </li>


                            </ul>



                        </div>
                    </div>
                </nav>

            </div>
            <!--=============== Header End ================-->

            <!-- ============ Main content start ============= -->
            <div class="main-content-wrap">

                <div class="auth-layout-wrap ">
                    <div class="auth-content">
                        <div class="card o-hidden sigin-card-bg">
                            <div class="row">
                                <div class="col-md-6 login-bg-image d-none d-sm-block" style="">


                                    <div class="pl-3 pr-3 pb-2 mt-3 ">
                                        <h2 class="font-weight-bold">Welcome to BHARGO</h2>
                                    </div>
                                    <div class="mt-2">

                                        <ul class="list-unstyled login-products-list">
                                            <li>
                                                <i>
                                                    <img src="../assets/images/connect.png" /></i>
                                                <span>BHARGO CONNECT</span></li>
                                            <li>
                                                <i>
                                                    <img src="../assets/images/create.png" /></i>
                                                <span>BHARGO CREATE</span></li>
                                            <li>
                                                <i>
                                                    <img src="../assets/images/improve.png" /></i>
                                                <span>BHARGO IMPROVE</span></li>
                                            <li>
                                                <i>
                                                    <img src="../assets/images/progress.png" /></i>
                                                <span>BHARGO PROGRESS</span></li>

                                        </ul>


                                    </div>






                                </div>

                                <div class="col-md-6">
                                    <div class="p-4">
                                        <div class="auth-logo text-center mb-4">

                                            <img src="../assets/images/login-logo.png" alt="BHARGO LOGO">
                                        </div>
                                        <h1 class="mb-3 text-18">Sign In</h1>
                                        <form>
                                            <div class="form-group">
                                                <label for="phone">Phone No.</label>
                                                <input id="email" class="form-control form-control-rounded signin-form-ctrl-bg" type="phone">
                                            </div>


                                            <!--   <div class="form-group">
                                                <label for="org">Organization</label>
                                                <select id="org" class="form-control form-control-rounded signin-form-ctrl-bg">
                                                    <option>org 1</option>
                                                    <option>org 2</option>
                                                </select>

                                            </div>-->

                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input id="password" class="form-control form-control-rounded signin-form-ctrl-bg" type="password">
                                            </div>
                                            <div class="text-right">


                                                <button class="btn btn-rounded btn-signIn  mt-2 pl-3 pr-3">Sign In</button>
                                                <!--     <a href="" class="text-muted float-right mt-3"><u>Forgot Password?</u></a>-->
                                            </div>
                                        </form>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>
            <!-- ============ Main content End ============= -->




        </div>
    </div>
    <script src="../assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/vendor/slick.min.js"></script>
    <script src="../assets/js/es5/scroll.min.js"></script>
    <script src="../assets/js/es5/slick.script.min.js"></script>
    <script src="../assets/js/vendor/aos.js"></script>
    <script src="../assets/js/es5/script.min.js"></script>
</body>




</html>